In [19]:
#Import the dependencies
import pandas as pd
import gmaps
import requests
#Import the API key
from config import g_key

In [20]:
#Store the csv you created in part one into a DataFrame
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nikolskoye,RU,2021-12-17 18:2137,59.7035,30.7861,31.89,98,71,5.70
1,1,Rikitea,PF,2021-12-17 18:2137,-23.1203,-134.9692,74.68,73,99,18.03
2,2,Mar Del Plata,AR,2021-12-17 18:2026,-38.0023,-57.5575,68.88,88,86,20.00
3,3,Ribeira Grande,PT,2021-12-17 18:2138,38.5167,-28.7000,59.40,58,40,13.80
4,4,East London,ZA,2021-12-17 18:2138,-33.0153,27.9116,63.54,67,20,9.22

In [21]:
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 570 entries, 0 to 569
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     570 non-null    int64
 1   City        570 non-null    object
 2   Country     566 non-null    object
 3   Date        570 non-null    object
 4   Lat         570 non-null    float64
 5   Lng         570 non-null    float64
 6   Max Temp    570 non-null    float64
 7   Humidity    570 non-null    int64
 8   Cloudiness  570 non-null    int64
 9   Wind Speed  570 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 44.7+ KB

In [22]:
# Configure gmaps to use your google API key
gmaps.configure(api_key = g_key)

In [23]:
#Get the max temp, eliminating negative temps
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
 #   temps.append(max(temp,0))

In [33]:

#Heatmap of temperature
#Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

#Get the maximum temperature
max_temp = city_data_df["Max Temp"]

#Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)

#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations,weights = [max(temp,0) for temp in max_temp],dissipating = False,
                                max_intensity = 300, point_radius = 4)

#Add the heatmap layer
fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
#Heatmap of percent humidity
locations = city_data_df[["Lat","Lng"]]
humidity = city_data_df["Humidity"]

#Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)

#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations,weights = humidity,dissipating = False,
                                max_intensity = 300, point_radius = 4)

#Add the heatmap layer
fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
#Heatmap of cloudiness
locations = city_data_df[["Lat","Lng"]]
cloudiness = city_data_df["Cloudiness"]

#Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)

#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations,weights = cloudiness,dissipating = False,
                                max_intensity = 300, point_radius = 4)

#Add the heatmap layer
fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
#Heatmap of wind speed
locations = city_data_df[["Lat","Lng"]]
wind_speed = city_data_df["Wind Speed"]

#Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)

#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations,weights = wind_speed,dissipating = False,
                                max_intensity = 300, point_radius = 4)

#Add the heatmap layer
fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [40]:
#Filter the data set to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Puerto Ayora,EC,2021-12-17 18:2138,-0.7393,-90.3518,80.56,86,87,5.01
8,8,Hithadhoo,MV,2021-12-17 18:2139,-0.6000,73.0833,82.47,72,82,4.12
9,9,Biak,ID,2021-12-17 18:2139,-0.9131,122.8766,77.02,84,61,2.55
17,17,Atuona,PF,2021-12-17 18:2142,-9.8000,-139.0333,77.58,72,7,9.98
21,21,Lazaro Cardenas,MX,2021-12-17 18:2142,17.9583,-102.2000,83.98,60,15,6.02
26,26,Codrington,AU,2021-12-17 18:2143,-38.2667,141.9667,78.60,23,77,17.49
28,28,Atambua,ID,2021-12-17 18:2144,-9.1061,124.8925,75.33,86,100,3.15
31,31,Tucuma,BR,2021-12-17 18:2145,-0.1833,-50.0500,85.73,66,92,8.43
35,35,Cape Town,ZA,2021-12-17 18:1852,-33.9258,18.4232,76.26,51,0,5.01
36,36,Sao Joao Da Barra,BR,2021-12-17 18:2146,-21.6403,-41.0511,86.09,90,94,3.40

In [41]:
preferred_cities_df.count()

City_ID       173
City          173
Country       172
Date          173
Lat           173
Lng           173
Max Temp      173
Humidity      173
Cloudiness    173
Wind Speed    173
dtype: int64

In [44]:
#Create a dataframe called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
6        Puerto Ayora      EC     80.56  -0.7393  -90.3518
8           Hithadhoo      MV     82.47  -0.6000   73.0833
9                Biak      ID     77.02  -0.9131  122.8766
17             Atuona      PF     77.58  -9.8000 -139.0333
21    Lazaro Cardenas      MX     83.98  17.9583 -102.2000
26         Codrington      AU     78.60 -38.2667  141.9667
28            Atambua      ID     75.33  -9.1061  124.8925
31             Tucuma      BR     85.73  -0.1833  -50.0500
35          Cape Town      ZA     76.26 -33.9258   18.4232
36  Sao Joao Da Barra      BR     86.09 -21.6403  -41.0511

In [45]:
#Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "Key": g_key
}

In [ ]:
#Heatmap of temperature for preferred cities
#Get the latitude and longitude
locations = preferred_cities_df[["Lat", "Lng"]]

#Get the maximum temperature
max_temp = preferred_cities_df["Max Temp"]

#Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)

#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations,weights = [max(temp,0) for temp in max_temp],dissipating = False,
                                max_intensity = 300, point_radius = 4)

#Add the heatmap layer
fig.add_layer(heat_layer)

#Call the figure to plot the data
fig