In [1]:
#Import the dependencies
import pandas as pd
import gmaps
import requests
#Import the API key
from config import g_key

In [4]:
#Store the csv you created in part one into a DataFrame
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nikolskoye,RU,2021-12-17 18:2137,59.7035,30.7861,31.89,98,71,5.70
1,1,Rikitea,PF,2021-12-17 18:2137,-23.1203,-134.9692,74.68,73,99,18.03
2,2,Mar Del Plata,AR,2021-12-17 18:2026,-38.0023,-57.5575,68.88,88,86,20.00
3,3,Ribeira Grande,PT,2021-12-17 18:2138,38.5167,-28.7000,59.40,58,40,13.80
4,4,East London,ZA,2021-12-17 18:2138,-33.0153,27.9116,63.54,67,20,9.22

In [5]:
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 570 entries, 0 to 569
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     570 non-null    int64
 1   City        570 non-null    object
 2   Country     566 non-null    object
 3   Date        570 non-null    object
 4   Lat         570 non-null    float64
 5   Lng         570 non-null    float64
 6   Max Temp    570 non-null    float64
 7   Humidity    570 non-null    int64
 8   Cloudiness  570 non-null    int64
 9   Wind Speed  570 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 44.7+ KB

In [6]:
# Configure gmaps to use your google API key
gmaps.configure(api_key = g_key)

In [5]:
#Get the max temp, eliminating negative temps
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
 #   temps.append(max(temp,0))

In [7]:

#Heatmap of temperature
#Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

#Get the maximum temperature
max_temp = city_data_df["Max Temp"]

#Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)

#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations,weights = [max(temp,0) for temp in max_temp],dissipating = False,
                                max_intensity = 300, point_radius = 4)

#Add the heatmap layer
fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#Heatmap of percent humidity
locations = city_data_df[["Lat","Lng"]]
humidity = city_data_df["Humidity"]

#Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)

#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations,weights = humidity,dissipating = False,
                                max_intensity = 300, point_radius = 4)

#Add the heatmap layer
fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#Heatmap of cloudiness
locations = city_data_df[["Lat","Lng"]]
cloudiness = city_data_df["Cloudiness"]

#Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)

#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations,weights = cloudiness,dissipating = False,
                                max_intensity = 300, point_radius = 4)

#Add the heatmap layer
fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#Heatmap of wind speed
locations = city_data_df[["Lat","Lng"]]
wind_speed = city_data_df["Wind Speed"]

#Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)

#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations,weights = wind_speed,dissipating = False,
                                max_intensity = 300, point_radius = 4)

#Add the heatmap layer
fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?70
What is the maximum temperature you would like for your trip?100

In [11]:
#Filter the data set to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Rikitea,PF,2021-12-17 18:2137,-23.1203,-134.9692,74.68,73,99,18.03
5,5,Kapaa,US,2021-12-17 18:2138,22.0752,-159.3190,73.72,86,90,3.00
6,6,Puerto Ayora,EC,2021-12-17 18:2138,-0.7393,-90.3518,80.56,86,87,5.01
7,7,Pisco,PE,2021-12-17 18:2139,-13.7000,-76.2167,71.02,78,0,9.22
8,8,Hithadhoo,MV,2021-12-17 18:2139,-0.6000,73.0833,82.47,72,82,4.12
9,9,Biak,ID,2021-12-17 18:2139,-0.9131,122.8766,77.02,84,61,2.55
17,17,Atuona,PF,2021-12-17 18:2142,-9.8000,-139.0333,77.58,72,7,9.98
21,21,Lazaro Cardenas,MX,2021-12-17 18:2142,17.9583,-102.2000,83.98,60,15,6.02
26,26,Codrington,AU,2021-12-17 18:2143,-38.2667,141.9667,78.60,23,77,17.49
28,28,Atambua,ID,2021-12-17 18:2144,-9.1061,124.8925,75.33,86,100,3.15

In [12]:
preferred_cities_df.count()

City_ID       214
City          214
Country       213
Date          214
Lat           214
Lng           214
Max Temp      214
Humidity      214
Cloudiness    214
Wind Speed    214
dtype: int64

In [13]:
#Create a dataframe called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

#Add a blank column for hotel name to be filled in later
hotel_df["Hotel Name"] = ""

#Show list
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1           Rikitea      PF     74.68 -23.1203 -134.9692
5             Kapaa      US     73.72  22.0752 -159.3190
6      Puerto Ayora      EC     80.56  -0.7393  -90.3518
7             Pisco      PE     71.02 -13.7000  -76.2167
8         Hithadhoo      MV     82.47  -0.6000   73.0833
9              Biak      ID     77.02  -0.9131  122.8766
17           Atuona      PF     77.58  -9.8000 -139.0333
21  Lazaro Cardenas      MX     83.98  17.9583 -102.2000
26       Codrington      AU     78.60 -38.2667  141.9667
28          Atambua      ID     75.33  -9.1061  124.8925

In [14]:



#Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
#Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    #Add the latitude and longitude to a location key for the params dictionary
    hotel_loc = f"{lat},{lng}"
    params['location']= hotel_loc
    
    #Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #Make request and get the json data from the search
    hotels = requests.get(base_url,  params = params).json()
    #print(hotels)
    #Grab the first hotel from the list and store the name in the correct row for the blank hotel name column created earlier
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Rikitea,PF,74.68,-23.1203,-134.9692,People ThankYou
5,Kapaa,US,73.72,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
6,Puerto Ayora,EC,80.56,-0.7393,-90.3518,Finch Bay Galapagos Hotel
7,Pisco,PE,71.02,-13.7000,-76.2167,Hotel San Isidro Oficial
8,Hithadhoo,MV,82.47,-0.6000,73.0833,Scoop Guest House
...,...,...,...,...,...,...
563,Moron,AR,85.95,-34.6534,-58.6198,Hotel Morón
564,Muisne,EC,80.71,0.6000,-80.0333,Quinta Samay
567,Minuri,PH,73.04,16.5350,121.8574,
568,Paranaiba,BR,81.95,-19.6772,-51.1908,Villa Rica Park Hotel GMR
569,Saint-Joseph,RE,73.78,-21.3667,55.6167,"""Plantation Bed and Breakfast"

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
#store in the DataFrame row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

#Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating = False,
                                max_intensity = 300, point_radius = 4)
marker_layer = gmaps.marker_layer(locations,info_box_content = hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))