## Deliverable 3. Create a Travel Itinerary Map.

In [184]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [185]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Gualaquiza,EC,74.70,overcast clouds,-3.4000,-78.5500,Hotel Merceditas
1,8,Ambulu,ID,78.71,overcast clouds,-8.3450,113.6058,Hotel Ambulu Jember
2,9,Ambilobe,MG,83.28,light rain,-13.2000,49.0500,Hôtel & Restaurant DIANA Ambilobe
3,10,Atuona,PF,78.78,overcast clouds,-9.8000,-139.0333,Villa Enata
4,17,Avarua,CK,75.25,moderate rain,-21.2078,-159.7750,Paradise Inn

In [186]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [187]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations,info_box_content = hotel_info)
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [200]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 

# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 


# Hint: The starting and ending city should be the same city.

#vacation_start = vacation_df.loc[(vacation_df["City"] == "Pirai")]

vacation_start = vacation_df.loc[vacation_df["City"]=="Mayuge"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Mayuge"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Katakwi"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Kitgum"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Gulu"]
print(vacation_start)
vacation_start.info()

     City_ID    City Country  Max Temp Current Description     Lat      Lng  \
146      398  Mayuge      UG     76.28     overcast clouds  0.4597  33.4803

               Hotel Name
146  Kagolo Bar and Lodge
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 146 to 146
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              1 non-null      int64
 1   City                 1 non-null      object
 2   Country              1 non-null      object
 3   Max Temp             1 non-null      float64
 4   Current Description  1 non-null      object
 5   Lat                  1 non-null      float64
 6   Lng                  1 non-null      float64
 7   Hotel Name           1 non-null      object
dtypes: float64(3), int64(1), object(4)
memory usage: 72.0+ bytes

In [201]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#start = ((vacation_start["Lat"]).to_numpy(),(vacation_start["Lng"]).to_numpy())
#vacation_start_list = vacation_start.to_numpy()
#vacation_start_list[0][5]
start = (vacation_start.to_numpy()[0][5],vacation_start.to_numpy()[0][6])
end = (vacation_end.to_numpy()[0][5],vacation_end.to_numpy()[0][6])
stop1 = (vacation_stop1.to_numpy()[0][5],vacation_stop1.to_numpy()[0][6])
stop2 = (vacation_stop2.to_numpy()[0][5],vacation_stop2.to_numpy()[0][6])
stop3 = (vacation_stop3.to_numpy()[0][5],vacation_stop3.to_numpy()[0][6])
stop3

(2.7746, 32.299)

In [202]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
round_trip = gmaps.directions_layer(start,end,waypoints = [stop1,stop2,stop3],travel_mode = "DRIVING")

fig.add_layer(round_trip)

fig

Figure(layout=FigureLayout(height='420px'))

In [203]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,398,Mayuge,UG,76.28,overcast clouds,0.4597,33.4803,Kagolo Bar and Lodge
1,603,Katakwi,UG,84.09,overcast clouds,1.8911,33.9661,Ebenezer Guest House
2,701,Kitgum,UG,87.49,overcast clouds,3.2783,32.8867,Jaflo Gardens Hotel
3,411,Gulu,UG,80.62,overcast clouds,2.7746,32.2990,ACHOLI INN

In [204]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 

info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
marker_layer = gmaps.marker_layer(locations,info_box_content = hotel_info)

In [205]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure()

marker_layer = gmaps.marker_layer(locations,info_box_content = hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))